/***** Links *****/
a:link {
    color: #0026ff;
    text-decoration: none;
}
a:visited {
    color: #7373ff;
    text-decoration: none;
}
a:hover {
    color: #7373ff;
    text-decoration: underline;
}

hr.new-section {
    height: 2px;
    color: #000;
    background-color: #000;
    opacity: 0.75;
}
