ul.foot-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.foot-list::after {
    clear: both;
}

li.foot-list-element {
    float: left;
    width: 300px;
    margin-right: 100px;
    display: block;
}

p.foot-list-element-text {
    color: white;
    display: block;
    text-align: center;
}

p.foot-list-element-text a {
    color: #7373ff;
}
