.home-image-container {
    width: 150px;
    height: 150px;
    padding: 5px;
    float: right;
}

.home-image-container::after {
    clear: both;
}

.home-image {
    margin: 0px;
    object-fit: cover;
    height: 150px;
    width: 150px;
}