.test-class {
    background-color: thistle;
    font-size: 50px;
}

/* unvisited link */
a:link {
    color: #0026ff;
}
  
/* visited link */
a:visited {
    color: #7373ff;
}

/* mouse over link */
a:hover {
    color: #7373ff;
}

.puzzle-img-with-text {
    text-align: justify;
    width: 150px;
    height: 150px;
}

.puzzle-img-with-text img {
    display: block;
    margin: 0 auto;
}
