/* unvisited link */
a:link {
    color: #0026ff;
}
  
/* visited link */
a:visited {
    color: #7373ff;
}

/* mouse over link */
a:hover {
    color: #7373ff;
}

.img-with-text {
    width:500px;
    text-align:center;
    display:block;
    background-color: transparent;
    border: 1px solid transparent;
    margin-right: 10px;
    margin-bottom: 1px;
    float:left;
}

.puzzle-img-with-text {
    width:200px;
    text-align:center;
    display:block;
    background-color: transparent;
    border: 1px solid transparent;
    margin-right: 10px;
    margin-bottom: 1px;
    float:left;
}

.puzzle-thumb {
    width: 150px;
    height: 150px;
    background-color: thistle;
}

h4.puzzle-thumb-text {
    margin-top:-10px;
    margin-bottom:10px;
}

.index-endfloat::after {
    content: "";
    clear: both;
    display: table;
}
