.test-class {
    background-color: thistle;
    font-size: 50px;
}

/* unvisited link */
a:link {
    color: #7373ff;
}
  
/* visited link */
a:visited {
    color: rgb(255, 138, 255);
}

/* mouse over link */
a:hover {
    color: #0026ff;
}