<!DOCTYPE html>
<html>

    <div class="index-endfloat">
        <p style="float:left;">
            Contact me: <a href="mailto:{{ site.email }}">{{ site.email }}</a>
        </p>

        <p style="float:left;">
            Instagram: <a href="https://www.instagram.com/{{site.insta_username}}">{{site.insta_username}}</a>
        </p>

        <p style="float:right">
            Github: <a href="https://github.com/{{ site.github_username }}">{{ site.github_username }}</a>
        </p>
    </div>

</html>