<!DOCTYPE html>
<html>

    <div id="footer_wrap" class="outer">
        <footer class="inner">
            <p class="text-left"">
                Contact me: <a href="mailto:{{ site.email }}">{{ site.email }}</a>
            </p>

            <p class="text-center"">
                Instagram: <a href="instagram.com/{{ site.insta_username }}">{{ site.insta_username }}</a>
            </p>

            <p class="text-right"">
                Github: <a href="https://github.com/{{ site.github_username }}">{{ site.github_username }}</a>
            </p>
        </footer>
    </div>

</html>