<!DOCTYPE html>
<html>

<link rel="stylesheet" href="{{ site.baseurl }}/css/header_formatting.css">

    <div class="home-image-container">
        <a href="https://www.3blue1brown.com/lessons/fourier-transforms">
            <img src="{{ site.imgurl }}/FourierOfPi.gif" class="home-image">
        </a>
    </div>
    
    <h1 id="project_title">{{ site.title | default: site.github.repository_name }}</h1>
    <h2 id="project_tagline">{{ site.description | default: site.github.project_tagline }}</h2>
    <h3 id="project_version">{{ site.version }}</h3>


</html>