<!DOCTYPE html>
<html>

<link rel="stylesheet" href="{{ site.baseurl }}/css/navigation_formatting.css">

    <ul class="nav-list">
        <li class="nav-list-element" style="float:left">
            <a href="{{ site.url }}" class="nav-list-element-link">Home</a>
        </li>

        <li class="nav-list-element" style="float:right">
            <a href="{{ site.url }}/#puzzles" class="nav-list-element-link">Puzzles</a>
        </li>

        <li class="nav-list-element" style="float:right">
            <a href="{{ site.url }}/#posts" class="nav-list-element-link">Posts</a>
        </li>
    </ul>

</html>