.inner {
    max-width: 70%;
}

#nav_wrap {
    background: #0f0f0f;
 }

#nav_wrap_inner {
    position: relative;
    max-width: 70%;
    padding: 5px 10px;
    height: 40px;
    margin: 0 auto;
}

/*****    No margins on nav bar for mobile    *****/

@media screen and (max-width: 480px) {
    #nav_wrap_inner {
        min-width: 320px;
        max-width: 480px;
    }
}

@media screen and (max-width: 320px) {
    #nav_wrap_inner {
        min-width: 240px;
        max-width: 320px;
    }
}