.inner {
    position: relative;
    max-width: 70%; //JS
    padding: 20px 10px;
    margin: 0 auto;
  }

#nav_wrap { //JS
    background: #0f0f0f;
  }

#nav_wrap_inner { //JS
    position: relative;
    max-width: 70%;
    padding: 5px 10px 35px;
    margin: 0 auto;
  }