---
layout: default
---

<article>

    {% for post in site.data.posts %}

        {% if post.page-title == page.title or post.home-title == page.title}
        {% assign notposted = 1 %}

            {% if post.page-title %}
            <h1>{{ post.page-title }}</h1>
            {% else %}
            <h1>{{ post.home-title }}</h1>
            {% endif %}

            {% if post.page-description %}
            <h3>{{ post.page-description }}</h3>
            {% else %}
            <h3>{{ post.home-description }}</h3>
            {% endif %}

        <p>{{ post.publish-date }}</p>
        {% endif %}

    {% endfor %}

    {% if notposted %}

        <h1>POSTED OFF NOTPOSTED</h1>

        <h1>{{ page.title }}</h1>
        <h3>{{ page.page-description }}</h3>
        <p>{{ page.publish-date }}</p>

    {% endif %}

    <hr>

    <body>
        {{ content }}
    </body>

</article>