---
layout: default
---

<article>

    {% assign posted = 6 %}

    {% for post in site.data.posts %}

        {% if post.page-title == page.title or post.home-title == page.title}
            {% increment posted %}
            <h1>POSTED after increment: {{ posted }}</h1>

            {% if post.page-title %}
            <h1>{{ post.page-title }}</h1>
            {% else %}
            <h1>{{ post.home-title }}</h1>
            {% endif %}

            {% if post.page-description %}
            <h3>{{ post.page-description }}</h3>
            {% else %}
            <h3>{{ post.home-description }}</h3>
            {% endif %}

        <p>{{ post.publish-date }}</p>
        {% endif %}

    {% endfor %}

    <h1>POSTED before check: {{ posted }}</h1>
    {% if posted == 0 %}

        <h1>POSTED OFF POSTED</h1>

        <h1>{{ page.title }}</h1>
        <h3>{{ page.page-description }}</h3>
        <p>{{ page.publish-date }}</p>

    {% endif %}

    <hr>

    <body>
        {{ content }}
    </body>

</article>