---
layout: default
---

<article>

    <h1 align="center">{{page.puzzle-title}}</h1>

    <p align="center">{{page.flavortext}}</p>

    {{ content }}

    <p>
        The answer to this puzzle is {{ page.answer-type }}.

        <br>
        <br>

        When you think you have the answer, add "-[your answer]" (no brackets, spaces, quotations) to the end of this URL <strong>in all capital letters</strong>.
        
        <br>
        <br>
        
        The image is also available <a href="{{ site.imgurl }}/{{ page.puzzle-folder }}/{{ page.img-path }}">here</a>.
    </p>

    <hr>

    <p>
        Click <a href="{{ page.puzzle-folder }}-{{ page.answer }}">here</a> to see the solution
    </p>

    <hr>

    <p>
        Click <a href="{{ site.url }}">here</a> to return to the main page.
    </p>

</article>